*
	box-sizing: border-box
	border: 1px solid #000

body
	display: flex
	flex-flow: column nowrap
	align-items: center

.row
	display: flex
	justify-content: center
	width: 100%

.col
	display: flex
	max-width: 1200px
	flex: 1

.center
	display: flex
	justify-content: center
	align-items: center

/*HEADER*/
header
	background: #FFF 0 0 no-repeat
	.col
		justify-content: space-between
		background: #222222  0 0 no-repeat
		color: #fff
	.top-navigation
		margin-right: 20px
		a
			display: inline-flex
			margin: 0
			padding: 1em
			text-align: center
			text-decoration: none
			line-height: 2em
			color: #fff


